<div id="page">
  <div class="dark">
    <ul class="nav">
      <li class="nav-item">
        <a routerLink="/">Welcome</a>
      </li>
      <li class="nav-item">
        <a routerLink="about">About</a>
      </li>
      <li class="nav-item">
        <a routerLink="community">Community</a>
      </li>
    </ul>

    <div class="container">
      <h1> {{title}} </h1>
        <router-outlet></router-outlet>
    </div>


  </div>
  <footer class="footer">
    <div class="container">
      <a class="text-muted" routerLink="admin">Admin</a>
    </div>
  </footer>
</div>
