#page {
  color: #669fff;
  background-image: url("./../assets/img/orchestra.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
.dark {
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
}
.nav {
  float: left;
  position: fixed;
  border-radius: 5px;

}
.container {
  margin-left: 100px;
}
